@model Task6.Models.ImageViewModel

<div style="display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
  width: 100%;">
    <h1 style="font-size: 500%; font-weight: bold; color: #0099FF;">Talents Investments</h1>
    <h3>@Model.Message</h3>
</div>
